<div class="row">
    <div class="innerWrap">
        <nav class="breadcrumb">
            <f:format.raw>
                {breadcrumb}
            </f:format.raw>
        </nav>
        <div class="regularColSet" data-cols="2" data-split="7525" data-gap="true">
            <div class="col" id="maincontent">
                <f:format.raw>
                    {mainContent}
                </f:format.raw>
            </div>
            <div class="col" id="contentRight">
                <f:format.raw>
                    {contentRight}
                </f:format.raw>
            </div>
        </div>
    </div>
</div>